<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set character encoding and page title -->
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/styles_profile.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.3/iconfont/material-icons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles_post.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script> -->
</head>
<body>
    <!-- <div> 
        <iframe src="/chatroom.html" name=" chatbtn" style="border:none; position: fixed;
            right:15px;bottom: 15px;width:1000px;height: 600px;background-color: transparent; z-index: 5;"></iframe>
    </div> -->
    <!-- Create a sidebar with a logo and links -->
    <div class="sidebar">
        <div class="logo">
            <img src="/logo.png" alt="Logo">
        </div>
        <ul>
            <li><a onclick="openCreatePopup('<%= id %>')">New Post+</a></li>
            <li><a href="/homepage/<%= id %>">Home</a></li>
            <li><a href="/search/<%= id %>">Search</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="/settingpage/<%= id %>">Settings</a></li>
            <li><a href="/login">Sign out</a></li>
        </ul>
    </div>
        <!-- Create a button for creating a new post -->
    <div id="createPopup" class="popup" style="display: none;">
        <div class="popup-content">
            <span class="close" onclick="closeCreatePopup()">&times;</span>
            <h1>New Post</h1>
            <br>
            <form id="createForm">
                <input type="hidden" id="method" name="method" value="POST">

                <label for="content">Content:</label>
                <textarea id="content" name="content" rows="5" placeholder="Thoughts on your mind..." required></textarea>
                <br>
                <label for="media">Image/Video (optional):</label>
                <input type="file" id="media" name="media" accept="image/, video/">
                <br>
                <label for="hide_post">Hide post?</label>
                <input type="checkbox" id="hide_post" name="hide_post" value="false">
                <br>
                <button type="submit">POST</button>
            </form>
        </div>
    </div>
    <div class="main-content">
        <div class="profile">
            <div class="profile-header">
                <div class="profile-photo">
                    <img src="<%= user.profile_pic %>" alt="Profile Photo">
                </div>
                <div class="profile-name">
                    <h1><%= user.username %></h1>
                </div>
                <div class="profile-follow">
                    <h2><%= followers %> Followers</h2>
                </div>
                <div class="profile-follow">
                    <h2><%= following %> Following</h2>
                </div>
            </div>
            <div class="profile-bio">
                <h3>Biography:</h3>
                <p><%= user.bio %></p>
            </div>
        </div>
        <!-- the posts of the user, a loop is used to display all the posts-->
        <div class="posts" id="postsContainer">
            <% for (let i = 0; i < posts.length; i++) { %>
            <div class="post" id="post-<%= posts[i].post_id %>">
                <!-- post content -->
                <div class="post-header">
                    <h2><%= posts[i].description %></h2>
                    <!-- dropdown button for editting and deleting the post -->
                    <div class="dropdown">
                        <button class="dropbtn">...</button>
                        <div class="dropdown-content">
                            <a onclick="openEditPopup('<%= id %>','<%= posts[i].post_id %>', '<%= posts[i].description %>')">Edit</a>
                            <a onclick="confirmDelete('<%= posts[i].post_id %>')">Delete</a>
                        </div>
                    </div>
                </div>
                <!-- post time -->
                <p>posted on <%= posts[i].post_time %></p>
                <!-- Update the id of the edit form to include the post_id -->
                <!-- comment box -->
                <!-- <div style="z-index: 1;" class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">Comments</h4>
                    </div>
                    <div class="comment-widgets"> -->
                        <!-- Comment Row -->
                        <!-- <div class="d-flex flex-row comment-row">
                            <div class="comment-text w-100">
                                <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                            </div>
                        </div>  -->
                        <!-- Comment Row -->
                        <!-- <div class="d-flex flex-row comment-row">
                            <div class="comment-text active w-100">
                                <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">Thanks bbbootstrap.com for providing such useful snippets. </span>
                                <div class="comment-footer"> </div>
                            </div>
                        </div>  -->
                        <!-- Comment Row -->
                        <!-- <div class="d-flex flex-row comment-row">
                            <div class="comment-text w-100">
                                <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
                                <div class="comment-footer"></div>
                            </div>
                        </div>
                    </div>  -->
                    <!-- Card -->
                    <!-- <div class="p-2 card-footer">
                        <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea" placeholder="Comment here..."></textarea></div>
                        <button id = "emoji-button" >&#128578;</button>
                        <div class="mt-2 text-right"><button id = "submit" class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                    </div>
                </div> -->
            </div>
            <% } %>
        </div>
        <!-- popup edit post box -->
        <div id="editPopup" class="popup" style="display: none;">
            <div class="popup-content">
                <form>
                    <span class="close" onclick="closeEditPopup()">&times;</span>
                    <h2>Edit Post</h2>
                    <textarea id="editDescription" rows="4"></textarea>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <!-- custom script for other logics -->
    <script src="/createpost.js"></script>
    <script src="/editdeletepost.js"></script>
    <script src="/getPosts.js"></script>
</body>
</html>