<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set character encoding and page title -->
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/styles_profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.3/iconfont/material-icons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles_post.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
</head>
<body>
    <!-- <div> 
        <iframe src="/chatroom.html" name=" chatbtn" style="border:none; position: fixed;
            right:15px;bottom: 15px;width:1000px;height: 600px;background-color: transparent; z-index: 5;"></iframe>
    </div> -->
    <!-- Create a container for the sidebar and main content -->
    <div class="container" id = "containerid">
        <!-- Create a sidebar with a logo and links -->
        <div class="sidebar">
            <div class="logo">
                <img src="/logo.png" alt="Logo">
            </div>
            <ul>
                <li><a class="createpostbtn" id="opencreatepage">New Post+</a></li>
                <li><a href="/homepage/<%= user.user_id %>">Home</a></li>
                <li><a href="/search/<%= user.user_id %>">Search</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="/settingpage/<%= user.user_id %>">Settings</a></li>
                <li><a href="/login">Sign out</a></li>
            </ul>
        </div>
        <!-- Create a button for creating a new post -->
        <div style="z-index: 5;" class="popupcreatepost" >
            <button class="close-button" id = "closecreatepage" style="border-radius: 100%;">&times;</button>
            <h1>Create New Post</h1>
            <br>
            <form action="/profile/<%= user.user_id %>" method="POST">
                <input type="hidden" id="method" name="method" value="POST">
    
                <label for="content">Content:</label>
                <textarea id="content" name="content" rows="5" placeholder="Thoughts on your mind..." required></textarea>
                <br>
                <label for="media">Image/Video (optional):</label>
                <input type="file" id="media" name="media" accept="image/, video/">
                <br>
                <label for="hide_post">Hide post?</label>
                <input type="checkbox" id="hide_post" name="hide_post" value="false">
    
                <button type="submit" value="Submit">POST</button>
            </form>
        </div>
        <!-- create post button logics -->
        <script>const popupcreate = document.querySelector('.popupcreatepost');
            const postcreatebtn = document.querySelector('#opencreatepage');
            const closeModalButton = document.querySelector('#closecreatepage');
            postcreatebtn.addEventListener('click', () => {
            popupcreate.classList.toggle('show');
            popupcreate.style.display = 'block';});
            closeModalButton.addEventListener('click', () => {
            popupcreate.style.display = 'none';});
        </script>
        <div class="main-content">
            <!-- the cover photo -->
            <div class="coverphoto">
                <img src="<%= user.cover_pic %>" alt="cover">
            </div>
            <!-- the other profile information comes after the cover photo -->
            <div class="profile">
                <div class="profile-photo">
                    <img src="<%= user.profile_pic %>" alt="Profile Photo">
                </div>
                <div class="profile-info">
                    <h1><%= user.username %></h1>
                    <h3>Biography:</h3>
                    <p><%= user.bio %></p>
                </div>
                <div class="profile-info">
                    <h2><%= followers %> Followers</h2>
                </div>
                <div class="profile-info">
                    <h2><%= following %> Following</h2>
                </div>
            </div>
            <!-- the posts of the user, a loop is used to display all the posts-->
            <div class="posts">
                <% for (let i = 0; i < posts.length; i++) { %>
                <div class="post">
                    <!-- post time -->
                    <div class="post-header">
                      <h2>Posted on <%= posts[i].post_time %></h2>
                      <!-- dropdown button for editting and deleting the post -->
                      <div style="z-index: 2;" class="dropdown">
                        <button class="dropbtn">...</button>
                        <div class="dropdown-content">
                            <!-- Add the post_id to the "Edit" button -->
                            <a class="popupeditbtn" data-post-id="<%= posts[i].post_id %>" data-post-des="<%= posts[i].post_des %>" data-hide-post="<%= posts[i].hide_post %>" id="edit-button-<%= posts[i].post_id %>">Edit</a>
                            <a>
                                <form action="/profile/<%= user.user_id %>" method="POST">
                                    <input type="hidden" id="method" name="method" value="DELETE">
                                    <input type="hidden" id="postID" name="postID" value="<%= posts[i].post_id %>">
                                    <button type="submit" value="Submit">Delete</button>
                                </form>
                            </a>
                        </div>
                      </div>
                    </div>
                    <!-- post contents -->
                    <p><%= posts[i].post_des %></p>
                    <!-- Update the id of the edit form to include the post_id -->
                    <!-- comment box -->
                    <div style="z-index: 1;" class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">Comments</h4>
                        </div>
                        <div class="comment-widgets">
                            <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row">
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                                </div>
                            </div> <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row">
                                <div class="comment-text active w-100">
                                    <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">Thanks bbbootstrap.com for providing such useful snippets. </span>
                                    <div class="comment-footer"> </div>
                                </div>
                            </div> <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row">
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
                                    <div class="comment-footer"></div>
                                </div>
                            </div>
                        </div> <!-- Card -->
                        <div class="p-2 card-footer">
                            <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea" placeholder="Comment here..."></textarea></div>
                            <button id = "emoji-button" >&#128578;</button>
                            <div class="mt-2 text-right"><button id = "submit" class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                        </div>
                    </div>
                    <div style="z-index: 3;" class="popupeditpost">
                        <button class="close-button" id="closeedit" style="border-radius: 100%;">&times;</button>
                        <h2>Edit post posted on <%= posts[i].post_time %>...</h2>
                        <form id="edit-form-<%= posts[i].post_id %>" action="/profile/<%= user.user_id %>" method="POST">
                            <br>
                            <input type="hidden" name="method" value="PUT">
                            <input type="hidden" id="postID" name="postID" value="<%= posts[i].post_id %>">
                            <label for="content">Content:</label>
                            <textarea id="content" name="content" rows="5" placeholder="Thoughts on your mind..." value="<%= posts[i].post_des %>" required></textarea>
                            <br>
                            <label for="hide_post">Hide post?</label>
                            <input type="checkbox" id="hide_post" name="hide_post" value="<%= posts[i].hide_post %>">
                            <br>
                            <button type="submit" value="Submit">DONE</button>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- custom script for other logics -->
    <script src="/profile.js"></script>
</body>
</html>