<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title> Setting</title>
    <link rel="stylesheet" href="/styles_setting.css" >

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <ul>
              <li><a href="/homepage/<%= id %>">Home</a></li>
              <li><a href="/search/<%= targetuser.user_id %>">Search</a></li>
              <li><a href="/profile/<%= id %>">My Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="/login">Sign out</a></li>
          </ul>
        </div>
       <div class="main-content">
          <div class="profile-banner" id="CoverPicture" style="margin-left: 120px">
            <img src="cover.png" width="750px">
          </div>
          <div class="profile-photo" id="ProfilePic"> <img src="profile.png" /> 
        </div>
        <button style="background-color: #1DA1F2; color: #FFFFFF; border: none; border-radius: 999999px; padding: 10px 20px; font-size: 16px; 
        font-weight: bold;width: 50px; height:50px; cursor: pointer; margin-bottom: 40px; position:relative; left:820px; top:160px; ">+</button>
        <div style="margin-left: 120px; font-size: 40px; margin-top: 20px" id="Username"><%= user.username%></div>
          <div class="profile-info">
        
            <form action="/setting/<= targetuser.user_id%>/<%= id %>" method="POST" class="form-horizontal">
           
                <label class="changebio">Biography</label>
                <div class="bio">
                <textarea id = "inputBio" placeholder="Thoughts on your mind..." value="<%=user.bio%>" required></textarea>
                </div>

                <div class="username">
                <label class="changeItems">Reset Password</label>
                <input type="password"  id="inputUsername"> 

                <label class="changeItems">confirm Password</label>
                <input type="password" id="inputResetPassword"> 
                
                </div>
                <div class="buttons">
                <button id="Clear" style="background-color: #1DA1F2; color: #FFFFFF; border: none; border-radius: 9999px; padding: 10px 20px; font-size: 16px; 
                font-weight: bold; cursor: pointer;margin-left: 100px; margin-top: 20px; margin-bottom: 20px">Clear</button>

                <button type="submit" id="Confirm" style="background-color: #1DA1F2; color: #FFFFFF; border: none; border-radius: 9999px; padding: 10px 20px; font-size: 16px; 
                font-weight: bold; cursor: pointer;margin-left: 100px; margin-top: 20px; margin-bottom: 20px">Confirm</button>
              </div>
        </form>
          </div>
   
        </div>
    </div>
		<script> 
            let btnClear = document.getElementById('Clear');
            let btnConfirm = document.getElementById('Confirm');
            let inputs = document.querySelectorAll('input');
            let inputArea = document.querySelectorAll('textarea');
            let changeUsername = document.getElementById('Username');
            let inputUsername = document.getElementById("inputUsername");
            let inputResetPassword = document.getElementById("inputResetPassword");
            let storeBio = "";
            let storePassword = "";
            let storeUserName = "";
            btnClear.addEventListener('click', () => {
                console.log(123123)
                inputs.forEach(input =>  input.value = '');
                inputArea.forEach(input => input.value = '');
            });
            btnConfirm.addEventListener('click', () => {
                console.log("It's empty")
                if (inputBio.value != ""){
                    storeBio = inputBio.value;
                    inputArea.forEach(input => input.value = '');
                }
                if (inputUsername.value != ""){
                    var userNameChange = inputUsername.value;
                    changeUsername.innerHTML= userNameChange;
                    storeUserName = userNameChange;
                    inputUsername.value = "";
                }
                if (inputResetPassword.value != ""){
                    var changePassword = inputResetPassword.value;
   if (changePassword.length < 8) {
        alert('Password must be at least 8 characters long');
    }
    else if (!/\d/.test(changePassword) || /^\d+$/.test(changePassword)) {
        alert('Password must contain both characters and digits');
    }
    else {
            let confirmPassword = prompt("Please enter the password to confirm it.");
            if (confirmPassword == changePassword){
                  storePassword = inputResetPassword;
                  inputResetPassword.value = "";
                }
            else alert('Password input wrongly!');
    }
                }
            });
</script> 
</body>
</html>
