<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title> Setting</title>
    <link rel="stylesheet" href="/styles_setting.css" >

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="/logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/homepage/<%= user.user_id %>">Home</a></li>
                <li><a href="/search/<%= user.user_id %>">Search</a></li>
                <li><a href="/profile/<%= user.user_id %>">My Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="/login">Sign out</a></li>
          </ul>
        </div>
       <div class="main-content">
            <div class="coverphoto">
                <img src="/cover.png">
            </div>
            <div class="profile-photo" id="ProfilePic">
                <img src="/profile.png">
            </div>
            <button id="changeImagebtn">+</button>
            <div class="profile-info" style="position:relative; bottom:250px; left:250px">
                <h1><%= user.username%></h1>
            </div>
            <div class="setting-info">
                <form action="/settingpage/<%= user.user_id %>" method="POST">

                    <label class="changebio">Biography</label>
                    <div class="bio">
                        <textarea name="bio" id = "bio" placeholder="Something about you..." value="<%= user.user_id %>"></textarea>
                    </div>
                    <br>
                    <div class="username">
                        <label class="changeItems">Reset Password</label>
                        <input type="password" name="pw1" id="pw1"> 

                        <label class="changeItems">confirm Password</label>
                        <input type="password" name="pw2" id="pw2"> 
                    </div>

                    <div class="buttons">
                        <button id="Clear" style="background-color: #1DA1F2; color: #FFFFFF; border: none; border-radius: 9999px; padding: 10px 20px; font-size: 16px; 
                    font-weight: bold; cursor: pointer;margin-left: 100px; margin-top: 20px; margin-bottom: 20px">Clear</button>

                        <button type="submit" id="Confirm" style="background-color: #1DA1F2; color: #FFFFFF; border: none; border-radius: 9999px; padding: 10px 20px; font-size: 16px; 
                    font-weight: bold; cursor: pointer;margin-left: 100px; margin-top: 20px; margin-bottom: 20px">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>